[submodule "deps/SARibbon"]
	path = deps/SARibbon
	url = git@github.com:czyt1988/SARibbon.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "deps/Qt-Advanced-Docking-System"]
	path = deps/Qt-Advanced-Docking-System
	url = git@github.com:githubuser0xFFFF/Qt-Advanced-Docking-System.git
